<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AWS Infrastructure Automation</title>
</head>
<body>
  <h1>AWS Infrastructure Automation Project</h1>

  <p><strong>Server:</strong> {{ inventory_hostname }}</p>
  <p><strong>Environment:</strong> Automated GitHub Actions Deployment</p>
  <p><strong>Provisioned by:</strong> Terraform</p>
  <p><strong>Configured by:</strong> Ansible</p>
  <p><strong>Monitored by:</strong> CloudWatch</p>
</body>
</html>